#!/usr/bin/env bash

# Put our scripts at the front of `PATH`.
PATH_add "$PWD/bin"

# Find `bin` folders on Linux and Homebrew systems. Add one of them to `PATH`;
# at least one `bin` directory needs to be on `PATH` for tests to pass.
case $(uname -s) in
    Darwin) bins=(/opt/homebrew/opt/postgresql@*/bin) ;;
     Linux) bins=(/usr/lib/postgresql/*/bin) ;;
         *) bins=() ;;
esac

for dir in "${bins[@]}"; do
    if [ -d "${dir}" ]; then
        PATH_add "${dir}"
        break
    fi
done

unset dir bins

# End.
