# The default PGDATA for the `pgdo` binary – or `cargo run` – is `cluster`.
# Ignore it by default; like it or not, it's going to get created when mucking
# around.
/cluster/

# Rust build stuff.
/target/

# Experimentation!
/scratch.rs
/scratch/

# End.
